*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #a0d2eb;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.container2{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.container3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px; 
}

.container4{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}







.firstBlock div{
    width: 60px;
    height: 60px;
    border: 2px solid #fbe3e8;
    border-radius: 50%;
    text-align: center;
    padding-top: 13px;
    margin: 5px;
    font-size: 25px;
}


.secondBlock div{
    width: 60px;
    height: 60px;
    border: 2px solid #fbe3e8;
    border-radius: 50%;
    text-align: center;
    padding-top: 13px;
    margin: 5px;
    font-size: 25px;
}

.thirdBlock div{
    width: 60px;
    height: 60px;
    border: 2px solid #fbe3e8;
    border-radius: 50%;
    text-align: center;
    padding-top: 13px;
    margin: 5px;
    font-size: 25px;
}

.fourthBlock div{
    width: 60px;
    height: 60px;
    border: 2px solid #fbe3e8;
    border-radius: 50%;
    text-align: center;
    padding-top: 13px;
    margin: 5px;
    font-size: 25px;
}

.fifthBlock div{
    width: 60px;
    height: 60px;
    border: 2px solid #fbe3e8;
    border-radius: 50%;
    text-align: center;
    padding-top: 13px;
    margin: 5px;
    font-size: 25px;
}


#question{
    margin-bottom: 10px;
    font-size: 22px;
    
}


#timer{
    margin-top: 10px;
    font-size: 20px;
}

.far{
    font-size: 20px;
}





.result{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

#inputText{
    width: 300px;
    height: 25px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #a0d2eb;
    padding: 10px;
}

.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: black;
    color: #ffffff;
    text-align: left;
}


.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tr td{
    font-weight: bold;
    color: black;
    
}


.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


.button-1 {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin-left: 60px;
    margin-bottom: 10px;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-1:hover,
  .button-1:focus {
    background-color: #F082AC;
  }






